<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>О нас</title>
</head>
<body>
{% include 'MainApp/navbar.html' %}
<div class="box-main">
            <div class="firstHalf">
<!--                <p class="text-big">О НАС</p>-->
<!--                <p class="text-small">Здесь вы можете узнать о нас.</p>-->
            </div>
        </div>
    <section class="service">
        <h1 class="h-primary center">
            PHOTOTEHNIKA
        </h1>
    <div id="services">
            <div class="box">
                <p>Интернет-магазин фото-техники - это онлайн-платформа, на которой можно приобрести все необходимое для любительской и профессиональной фотографии. На сайте вы найдете широкий выбор камер, объективов, вспышек и других аксессуаров, а также видеокамер и проекторов.

Компания работает только с проверенными брендами, гарантирующими качество и надежность своей продукции. Вы сможете найти товары таких марок, как Nikon, Canon, Sony, Panasonic и многих других. Для удобства пользователей, на сайте есть возможность фильтрации товаров по различным параметрам, например по бренду, типу устройства, стоимости или функциональным особенностям.

Если у вас возникнут вопросы по выбору товара или его работе, на сайте всегда доступна онлайн-консультация или телефон поддержки. Кроме этого, сайт регулярно проводит акции и скидки, которые позволят сделать покупку еще более выгодной.

Доставка товаров осуществляется по всей территории страны, а оплата производится удобным способом - наличными, банковской картой или банковским переводом. На сайте также имеется возможность оставлять отзывы о купленных товарах, делиться своими впечатлениями и оставлять комментарии.

Интернет-магазин фото-техники - это надежный партнер для всех фотолюбителей и профессиональных фотографов, который поможет реализовать любые творческие и камерные задумки.</p>
<!--                <p style="font-family: sans-serif ">co-founder</p>-->
<!--                <p style="font-family: sans-serif ">Foodscalablility@gmail.com</p>-->
<!--                <p style="font-family: sans-serif ">Food Manager of the company </p>-->
            </div>
        </div>
    </section>
</body>
</html>