.text-center{
    color:aliceblue;
}
.text-right{
     color:aliceblue;
}
.text-right a{
     color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
     text-decoration:none;
      padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;

}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
    flex-direction: row;
    justify-content: center;
    align-items: center;
}